.contactUsComponent{
    background-color: #eee;
    min-height: 90vh;
}


.contactPic>.mapPic{
    height: auto;
    width: 60vh;
    border-radius: 20px;
    border: 2px solid black;
    margin: 2vh;
    /* border-style: ridge; */
}

.contactUsComponent>.contactInfo{
    display: inline-block;
    width: 50%;
}
.contactUsComponent>.contactForm{
    display: inline-block;
    float: right;
    width: 50%;
    /* padding-top: 6vh; */
    justify-content: space-around;
    /* padding-left: 10%; */
    padding-right: 10vh;
    
}

/* span>h5{
    margin-bottom: 4vh;
} */
.contactForm>textArea{
    /* height: 40vh;
    width: 50vh; */
    border-radius: 17px;
    /* display: block; */
    outline: none;
    width: 100%;
    height: 15vh;
    
    /* margin-top: 6vh; */
}
.contactForm>input{
    /* height: 7vh; */
    border-radius: 14px;
    /* outline: none; */
    width: 100%;
    
    /* margin-top: 6vh; */
}

.contactForm>Button {
    width: 15vh;
    font-size: medium;
    margin: 4px;
    padding : 4px;    
    transition: 0.4s;
    
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    outline: none;
    opacity: 0.8;
}

.contactForm>Button:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
    opacity: 1;
}


@media (max-width: 800px) {

    .contactUsComponent{
        background-color: #eee;
        height: 100%;
    }

  .contactUsComponent>.contactInfo{
        display: block;
        width: 100%;
    }
  .contactUsComponent>.contactForm{
        /* display: block; */
        width: 100%;
        padding-right: 15vh;
        padding-left: 15vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    
}
@media (max-width: 900px) {

  .contactUsComponent>.contactInfo{
       
    }
  .contactUsComponent>.contactForm{
        /* display: block; */
        /* width: 100%; */
        padding-right: 5vh;
        padding-left: 5vh;
       
    }
    
}